.CustomDate {
    width: 100%;
}

:global(.CustomDate .ant-picker) {
    width: 100%;
    border-radius: 5px;
    background: transparent;
    border: 1px solid #dadada;
}

:global(.CustomDate .ant-picker input) {
    background: transparent !important;
    color: black !important;
}