.form_modalMainBox {}

.form_modalMainBox h5 {
    color: black !important;
    font-size: 25px;
    font-weight: 600;
}

.form_inputBox {
    display: flex;
    width: 100%;
}

.form_checkBoxHeading {
    font-size: 15px !important;
    font-weight: 600;
    margin-top: 10px;
    display: block;
}

.form_checkBoxHeading svg {
    font-size: 25px;
    cursor: pointer;
}

.QR_box {
    display: flex;
    align-items: center;
    position: relative;
}

.modalHardwareScroll {
    margin-top: 10px;
    height: 450px;
    overflow-y: scroll;
}

.modalHardwareScroll::-webkit-scrollbar {
    width: 6px;
    background: whitesmoke;
    border-radius: 10px;
}

.modalHardwareScroll::-webkit-scrollbar-thumb {
    background: #00BAFF;
    border-radius: 10px;
}

.vendor_modalBtns {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.border_bottom {
    border-bottom: 1px solid black;
    padding-bottom: 10px;
}

/* FILE MODAL VIEW BOX CSS ================== */
.fileViewModal {
    display: flex;
    flex-direction: column;
    height: 300px;
    overflow-x: hidden;
    overflow-y: scroll;
}

.fileContent {
    border-bottom: 1px solid lightgray;
    padding: 11px 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.fileViewModal span {
    color: black;
    font-size: 12px;
    cursor: pointer;
}

.fileViewModal h4 {
    text-align: left;
    color: black !important;
    font-size: 13px;
    padding: 0;
    margin: 0;
    margin-top: 5px;
    font-weight: 600;
}

.fileBoxAction svg {
    font-size: 25px;
    cursor: pointer;
}