.pwd_section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: white;
}

.pwd_box {
    width: 60%;
    background: white;
    padding: 30px 20px;
    border-radius: 20px;
    box-shadow: -1px 1px 35px 0 #808080a8;
}
.pwd_box > span{
    display: flex;
    justify-content: center;
    align-items: center;
}
.pwd_box  > span svg{
    color: white;
    background: #00baff;
    font-size: 50px;
    padding: 6px 2px;
    border-radius: 50px;
}

.pwd_box h5 {
    text-align: center;
    color: black !important;
}

.pwd_box .lockBox {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #00baff;
    width: fit-content;
    border-radius: 29px;
    margin: auto;
}
.pwd_box .lockBox svg{
    font-size: 55px;
    color: white;
    padding: 0 10px;
}

.password_rules {
    margin-top: 2.5rem;
}

.password_rules p {
    color: white !important;
    margin: 0;
    font-size: 13px;
}
.password_rules ul{
    background: unset;
}

.form_inputBox .password_generator {
    position: absolute;
    right: 0;
    background: #00baff;
    color: white;
    font-size: 13px;
    font-weight: 500;
    cursor: pointer;
    border-radius: 17px;
    padding: 5px 12px;
    line-height: 1;
    margin-top: 10px;
}

.form_inputBox p {
    position: absolute;
    left: 0;
}
.inputDefaultBg{
    background: transparent !important;
}
.headingColorDefault{
    font-size: 25px !important;
    color: white !important;
}
:global(.passwordBox input){
    color: black !important;
    background: transparent !important;
}
:global(.passwordBox input):focus{
    color: white;
    outline: none !important;
    border: none !important;
}


.default {
    color: gray;
}

.red {
    color: red !important;
}

.green {
    color: green;
}

.form_inputBox {
    position: relative;
}

.weak {
    color: red !important;
    font-weight: 600;
}

.medium {
    color: orange !important;
    font-weight: 600;
}

.strong {
    color: green !important;
    font-weight: 600;
}

