.form_modalMainBox {}

.form_modalMainBox h5 {
    color: black !important;
    font-size: 25px;
    font-weight: 600;
}

.form_inputBox {
    display: flex;
    width: 100%;
}

.form_checkBoxHeading {
    font-size: 15px !important;
    font-weight: 600;
    margin-top: 10px;
    display: block;
}

.QR_box{
    display: flex;
    align-items: center;
    position: relative;
}
.modalHardwareScroll{
    margin-top: 10px;
    height: 450px;
    overflow-y: scroll;
}

.modalHardwareScroll::-webkit-scrollbar {
    width: 6px;
    background: whitesmoke;
    border-radius: 10px;
}

.modalHardwareScroll::-webkit-scrollbar-thumb {
    background: #00BAFF;
    border-radius: 10px;
}

.vendor_modalBtns{
     display: flex;
    justify-content: end;
}
.border_bottom{
    border-bottom: 1px solid black;
    padding-bottom: 10px;
}
