.form_modalMainBox {}

.form_modalMainBox h5 {
    color: white;
    font-size: 25px;
    font-weight: 600;
}

.form_inputBox {
    display: flex;
    width: 100%;
}

.form_checkBoxHeading {
    color: white;
    font-size: 20px;
    font-weight: 600;
    margin-top: 10px;
    display: block;
}

.form_LocationcheckBox {
    display: flex;
}

.form_LocationcheckBox div {
    margin-right: 10px;
}

.form_LocationcheckBox label {
    color: white;
    font-size: 13px;
    font-weight: 400;
    margin-left: 3px;
    margin-bottom: 0;
}

.form_modalWidth {
    width: 80% !important;
}

.form_footerFlexBox {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form_footerFlexBox button {
    width: auto;
    padding: 9px 20px;
    margin: 0;
}

.form_dotsIcons {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: inherit;
    height: 87px;
    align-items: center;
}

.form_dotsIcons svg {
    font-size: 22px;
}

.form_tabsBox {
    margin-top: 10px;
}

.form_TabList {
    padding: 0;
}

.form_TabList li {
    color: white;
}

.form_TabPanel {
    color: white;
}

.form_TabPanel h6 {}

.form_TabPanel p {
    background: #2f2f2f;
    padding: 15px 15px;
    border-radius: 20px;
}

.form_footerBox {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form_footerBox div {
    display: flex;
    align-items: center;
}

.form_footerBox input {}

.form_footerBox label {
    color: white;
    margin-left: 5px;
}

.form_footerBox button {
    padding: 10px 19px;
    width: auto;
}