.main_profile_box {
    width: 100%;
    position: relative;
    box-shadow: -1px 1px 35px 0 #808080a8;
    border-radius: 15px 15px 0 0;
    overflow: hidden;
    height: 100vh;
}

.cover_box {
    position: relative;
}

.cover_img {
    width: 100%;
    object-fit: cover;
    height: 100px;
}


.profileNamingBox {
    padding: 0 11px;
    margin-top: 4rem;
}

.profileNamingBox>div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.profileNamingBox h5 {
    color: black !important;
    font-size: 13px;
}

.profileNamingBox p {
    padding: 0;
    margin: 0;
    color: black !important;
    font-size: 11px;
}

.profileNamingBox span {
    color: #00baff;
    font-size: 12px;
    background: #dadada;
    padding: 4px 10px;
    border-radius: 5px;
    text-transform: capitalize;
}

.infoBox{
    overflow-y: scroll;
    height: 300px;
}

.profileFlex {
    display: flex;
    padding: 0 11px;
    align-items: center;
    margin-top: 5px;
}

.profileFlex svg {
    font-size: 21px;
    background: #80808024;
    height: 30px;
    width: 30px;
    padding: 0 8px;
    border-radius: 25px;
}

.contentFlex {
    margin-left: 20px;
}

.contentFlex span {
    color: gray !important;
    font-size: 11px;
}

.contentFlex p {
    color: black !important;
    font-size: 12px;
    margin: 0;
    word-wrap: break-word;
    width: 180px;
}