.verification_Section {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    background: white;
}

.verification_Section svg {
    position: absolute;
    right: 20px;
    top: 7rem;
    font-size: 30px;
    color: black;
}

/* body {
    background: #101010;
} */

.verification_mainBox {
    width: 60%;
    background: white;
    padding: 3rem 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 20px;
    box-shadow: -1px 1px 35px 0 #808080a8;
}

.verification_Section h5 {
    color: black !important;
    font-size: 25px !important;
}

.verification_mainBox img {
    height: 80px;
}

.verification_mainBox p {
    color: black !important;
    font-size: 12px;
}

.verification_mainBox a {
    color: black !important;
    font-weight: 500;
}

.verification_mainBox div {
    display: flex !important;
    justify-content: space-between !important;
    align-items: center !important;
    width: 95%;
}

.verification_mainBox div>input {
    width: 20% !important;
    background: transparent;
    border: 1px solid #dadada;
    color: black !important;
    background: white !important;
    height: 45px;
    border-radius: 5px;
}

.verification_mainBox div>input:focus {
    outline: none;
}

p.verification_newRequestOtp {
    margin-top: 20px;
}

p.verification_newRequestOtp a {
    color: white;
    font-weight: 600;
    text-decoration: none;
}