.editable_image_box {
    position: absolute;
    overflow: hidden;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    top: 3rem;
    padding: 0 11px;
    padding-bottom: 11px;
    width: 100%;
}

.editable_image_box img {
    height: 100px;
    width: 100px;
    object-fit: cover;
    display: block;
    transition: transform 0.3s ease;
    border-radius: 50%;
    border: 5px solid white;
    box-shadow: 2px -2px 20px 0 gray;
}

.pencil_icon {
    color: gray;
    font-size: 11px;
    border: 1px solid #dadada;
    height: 35px;
    width: 35px;
    padding: 0px 7px;
    border-radius: 19px;
    top: 27px;
    position: relative;
}

.file_input {
    display: none;
}